{{define "title"}} Trámites {{end}}

{{define "styles"}}
{{end}}

{{define "body"}}
    <div class="content-wrapper">
        <!--  El diseño va aquí  -->
        <section class="content">
            <div class="row">
                <div class="col mt-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3>Trámites</h3>
                                </div>
                                <div class="col">
                                    <a href="/tramites/nuevo" class="btn btn-primary float-right">
                                        <i class="fas fa-plus"></i> NUEVO
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table id="lista-tramites" class="table table-bordered table-sm">
                                <thead>
                                <tr>
                                    <th scope="col" style="white-space: nowrap; width: 1px">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col" style="white-space: nowrap; width: 1px">Iniciales</th>
                                    <th scope="col" style="white-space: nowrap; width: 1px">Tercera Edad</th>
                                    <th scope="col" style="white-space: nowrap; width: 1px">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
{{/*                                {{range $i, $a := .T}}*/}}
{{/*                                    <tr>*/}}
{{/*                                        <th scope="row" class="text-center">{{add $i}}</th>*/}}
{{/*                                        <td>{{.Nombre}}</td>*/}}
{{/*                                        <td class="text-center">{{.Iniciales}}</td>*/}}
{{/*                                        <td class="text-center">{{if eq .TerceraEdad "0"}}Si{{else}}No{{end}}</td>*/}}
{{/*                                        <td>*/}}
{{/*                                            <div class="btn-group">*/}}
{{/*                                                <a href="/tramites/editar/{{.ID}}" class="btn btn-warning btn-editar-tramite">*/}}
{{/*                                                    <i class="fas fa-edit"></i>*/}}
{{/*                                                </a>*/}}
{{/*                                                <a href="/tramites/eliminar/{{.ID}}" class="btn btn-danger btn-eliminar-tramite">*/}}
{{/*                                                    <i class="fas fa-trash-alt"></i>*/}}
{{/*                                                </a>*/}}
{{/*                                            </div>*/}}
{{/*                                        </td>*/}}
{{/*                                    </tr>*/}}
{{/*                                {{end}}*/}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{{end}}

{{define "scripts"}}
    <script type="module" src="/public/js/requests/tramites.js"></script>
{{end}}