{{define "title"}} Atención {{end}}

{{define "styles"}}
{{end}}

{{define "body"}}
    <div class="content-wrapper">
        <!--  El diseño va aquí  -->
        <section class="content">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h3>Atención</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="turno-actual">Turno Actual</label>
                                            <input id="turno-actual" type="text" class="form-control" readonly placeholder="A1">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="estado-turno-actual">Estado Turno Actual</label>
                                            <input id="estado-turno-actual" type="text" class="form-control" readonly placeholder="Atendiendo">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="tiempo-atencion">Tiempo de Atención</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                <input id="tiempo-atencion" type="text" class="form-control" readonly placeholder="00:00">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="turno-espera">Turnos en Espera</label>
                                            <input id="turno-espera" type="text" class="form-control" readonly placeholder="15">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="tiempo-espera">Tiempo de Espera</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                <input id="tiempo-espera" type="text" class="form-control" readonly placeholder="00:00">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="turnos-atendidos">Turnos Atendidos</label>
                                            <input id="turnos-atendidos" type="text" class="form-control" readonly placeholder="10">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="promedio">Promedio</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                <input id="promedio" type="text" class="form-control" readonly placeholder="00:00">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <div class="row c-buttons">
                                        <div class="col-6">
                                            <a href="/test" id="btn-siguiente" class="btn btn-block btn-outline-primary">SIGUIENTE</a>
                                            <button type="button" id="btn-llamar" class="btn btn-block btn-outline-info">LLAMAR</button>
                                            <button type="button" id="btn-atender" class="btn btn-block btn-outline-success">ATENDER</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" id="btn-finalizar" class="btn btn-block btn-outline-danger">FINALIZAR</button>
                                            <button type="button" id="btn-transferir" class="btn btn-block btn-outline-warning">TRANSFERIR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{{end}}

{{define "scripts"}}
    <script type="module" src="/public/js/alerts/notifications.js"></script>
    <script type="module" src="/public/js/requests/atencion.js"></script>
{{end}}