{{define "title"}} Turnos {{end}}

{{define "styles"}}
{{end}}

{{define "body"}}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Turnos</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Turnos</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!--  El diseño va aquí  -->

        <section class="content">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    
                                    <div class="card-body table-responsive">
                                        <table class="table table-hover text-nowrap">
                                          <thead>
                                            <tr>
                                                <strong><td style="text-align: center;;font-size:300%;"BGCOLOR="#58FAF4"> TURNO </td></strong>
                                                <strong><td style="text-align: center;;font-size:300%;"BGCOLOR="#58FAF4"> CAJA </td></strong>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td style="text-align: center;;font-size:180%;"> LB1 </td>
                                              <td style="text-align: center;;font-size:180%;"> CAJA #1 </td>
                                            </tr>
                                            <tr>
                                              <td style="text-align: center;;font-size:180%;"> RX1 </td>
                                              <td style="text-align: center;;font-size:180%;"> CAJA #2 </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;;font-size:180%;"> LBT1 </td>
                                                <td style="text-align: center;;font-size:180%;"> CAJA #2</td>
                                              </tr>
                                              <tr>
                                                <td style="text-align: center;;font-size:180%;"> RXT1 </td>
                                                <td style="text-align: center;;font-size:180%;"> CAJA #1</td>
                                              </tr>
                                          </tbody>
                                        </table>
                                      </div>


                                </div>

                                <div class="col-xs-12 col-lg-6">
                                    <div class="row c-buttons">
                                        <video width="500" height="500" controls>
                                            <source src="/assets_tutorials/media/Shaun-the-Sheep-The-Movie-Official-Trailer.mp4" type="video/mp4">
                                            <source src="/assets_tutorials/media/Shaun-the-Sheep-The-Movie-Official-Trailer.ogg" type="video/ogg">
                                          Your browser does not support the video tag.
                                          </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{{end}}

{{define "scripts"}}
{{end}}